<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>

        <div class="header-top wow fadeIn">
            <div class="container-fluid">
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">

                            <span class="topbar"><img src="~/img/logo.png" alt="#"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="topbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 text-sm">
                        <div class="site-info">
                            <a href="#"><span class="mai-call text-primary"></span> +91 88 5704 9388</a>
                            <span class="divider">|</span>
                            <a href="#"><span class="mai-mail text-primary"></span> PMS@LifeCare.com</a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right text-sm">
                        <div class="social-mini-button">
                            <a href="#"><span class="mai-logo-facebook-f"></span></a>
                            <a href="#"><span class="mai-logo-twitter"></span></a>
                            <a href="#"><span class="mai-logo-dribbble"></span></a>
                            <a href="#"><span class="mai-logo-instagram"></span></a>
                        </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .topbar -->


    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>




    <script src="~/js/jquery-3.5.1.min.js"></script>

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <script src="~/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
