
@{
    ViewData["Title"] = "DoctorDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <link rel="stylesheet" href="~/css/maicons.css">

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/css/theme.css">

</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">

        <a class="navbar-brand" href="#"><span class="text-primary">Life</span> Care</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupport">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="btn btn-primary ml-lg-3" asp-action="SearchPatient" asp-controller="Doctor">Get all Patients</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ml-lg-3" asp-action="GetAppointment" asp-controller="Doctor">View all Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ml-lg-3" asp-controller="Home" asp-action="Index">Logout</a>

                </li>
            </ul>
        </div> <!-- .navbar-collapse -->

    </nav>

</header>



    <div class="page-hero bg-image overlay-dark" style="background-image: url(https://coolwallpapers.me/th700/5664156-medical-wallpapers.jpg); " alt="">

        <div class="hero-section">
            <div class="container text-center wow zoomIn">
                <br><br><br>
                <h1 class="display-4">Welcome To Patient Management System</h1><br>
                <br> <br> <br> <br>

            </div>
        </div>
    </div>

<footer class="page-footer">
    <div class="container-fluid ">
        <div class="container">
            <div class="row ">

                <div class="col-sm-6 col-lg-3 py-3">
                    <h5>More</h5>
                    <ul class="footer-menu">
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 py-3">

                    <ul class="footer-menu">
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 py-3">
                    <h5>Contact</h5>
                    <p class="footer-link mt-2">351 Willow Street Franklin, MA 02038</p>
                    <a href="#" class="footer-link">701-573-7582</a>
                    <a href="#" class="footer-link">healthcare@temporary.net</a>


                </div>
            </div>
        </div>
        <hr>


        <p id="copyright">Copyright &copy; 2022 <a href="#" target="_blank">PMS</a>. All right reserved</p>
    </div>
</footer>
