
@{
    ViewData["Title"] = "RegistrationSuccessful";
}
<div class="container">
    <br />
    <br />

    <h1>Registration Successful</h1>

    <br />
    <br />
    <br />

    <label style="color:black;">

        @ViewData["message"]
    </label>
    <br />
    <br />
    <br />
    <p>  Click on Back to Home Buttom and Try login from home page with your credentials  </p>
    <div class="form-group">
        <a class="btn btn-primary ml-lg-3" asp-action="Index" asp-controller="Home">Back to Home</a>
    </div>
</div>