@model PMSMVC.Models.AdminLogin

@{
    ViewData["Title"] = "HospitalEmployeeLogin";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Life Care - Medical Center</title>


    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/css/theme.css">

</head>

<div class="page-hero bg-image overlay-dark" style="background-image: url(https://www.techzooz.org/wp-content/uploads/2022/02/Need-to-Know-About-Masters-in-Medical-Technology.jpg); " alt="">
    <br />

    <div class="row">
        <div class="container">
            <h4 style="color:white;"> Admin Login</h4>
            <br />
            <div class="col-md-4">
                <form asp-action="HospitalEmployeeLogin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label style="color:white;" asp-for="HemployeeName" class="control-label"></label>
                        <input asp-for="HemployeeName" class="form-control" />
                        <span asp-validation-for="HemployeeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:white;" asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <label style="color:white;">
                        @ViewData["message"]
                    </label>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" /> &nbsp;  &nbsp; <a class="btn btn-primary ml-lg-3" asp-action="Index" asp-controller="Home"> Back to home</a>
              
                    </div>
                   
                </form>
            </div>
            
        </div>
    </div>


</div>

<footer class="page-footer">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Company</h5>
                <ul class="footer-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Editorial Team</a></li>
                    <li><a href="#">Protection</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>More</h5>
                <ul class="footer-menu">
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Join as Doctors</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">

                <ul class="footer-menu">
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Contact</h5>
                <p class="footer-link mt-2">351 Willow Street Franklin, MA 02038</p>
                <a href="#" class="footer-link">701-573-7582</a>
                <a href="#" class="footer-link">healthcare@temporary.net</a>

                <h5 class="mt-3">Social Media</h5>
                <div class="footer-sosmed mt-3">
                    <a href="#" target="_blank"><span class="mai-logo-facebook-f"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-twitter"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-google-plus-g"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-instagram"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-linkedin"></span></a>
                </div>
            </div>
        </div>

        <hr>

        <p id="copyright">Copyright &copy; 2022 <a href="#" target="_blank">PMS</a>. All right reserved</p>
    </div>
</footer>
<script src="~/js/jquery-3.5.1.min.js"></script>

<script src="~/js/bootstrap.bundle.min.js"></script>

<script src="~/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="~/vendor/wow/wow.min.js"></script>

<script src="~/js/theme.js"></script>
